{% extends 'base.html.twig' %}

{% trans_default_domain 'security' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/css/signin.css') }}">
{% endblock %}

{%  block body %}

    <form class="form-signin text-center" action="{{ path('login') }}" method="post">
        <img class="mb-4" src="{{ asset('build/images/logo.png') }}" alt="" width="160" height="160">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

        {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error.messageKey|trans(error.messageData) }}
            </div>
        {% endif %}

        <label for="email" class="sr-only">{{ 'email'|trans }}</label>
        <input type="email" id="email" class="form-control" name="_email" placeholder="{{ 'email'|trans }}" required autofocus>

        <label for="password" class="sr-only">{{ 'password'|trans }}</label>
        <input type="password" id="password" class="form-control" name="_password" placeholder="{{ 'password'|trans }}" required>

        <select id="locale" class="form-control" name="_locale">
            <option selected value="en_US">{{ 'language.en_US'|trans }}</option>
            <option value="pl_PL">{{ 'language.pl_PL'|trans }}</option>
        </select>

        <button class="btn btn-md btn-primary btn-block" type="submit">{{ 'form.login'|trans }}</button>
    </form>
{% endblock %}