{% extends 'backend.html.twig' %}

{% trans_default_domain 'user' %}

{%  block content %}
    {{ form_start(form) }}
        {{ form_widget(form) }}

        <button type="submit">{{ 'form.save'|trans }}</button>
    {{ form_end(form) }}
{% endblock %}