{% extends 'backend.html.twig' %}

{% trans_default_domain 'customer' %}

{% block title %}Customers{% endblock %}

{%  block content %}
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col"></th>
                <th scope="col">{{ 'attribute.customer_no'|trans }}</th>
                <th scope="col">{{ 'attribute.name'|trans }}</th>
                <th scope="col">{{ 'attribute.company_name'|trans }}</th>
                <th scope="col">{{ 'attribute.street'|trans }}</th>
                <th scope="col">{{ 'attribute.zipcode'|trans }}</th>
                <th scope="col">{{ 'attribute.city'|trans }}</th>
                <th scope="col">{{ 'attribute.online_customer'|trans }}</th>
                <th scope="col"></th>
            </tr>
        </thead>
    <tbody>
    {% for customer in customers  %}
        <tr>
            <td>{{ customer.id }}</td>
            <td>{{ customer.customer_no }}</td>
            <td>{{ customer.name }}</td>
            <td>{{ customer.company_name }}</td>
            <td>{{ customer.street }}</td>
            <td>{{ customer.zipcode }}</td>
            <td>{{ customer.city }}</td>
            <td>{{ customer.is_online }}</td>
            <td>
                <div class="btn-group" role="group">
                    <a href="{{ path('customer_show', {id: customer.id}) }}" class="btn btn-primary btn-sm">
                        <i class="mdi mdi-eye-outline"></i>
                    </a>
                    <a href="{{ path('customer_import', {id: customer.id}) }}" class="btn btn-secondary btn-sm">
                        <i class="mdi mdi-file-import"></i>
                    </a>
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>

    {% include '/_pagination.html.twig' %}
{% endblock %}