{% trans_default_domain 'user' %}

<nav class="navbar navbar-expand-md fixed-top navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="{{ asset('build/images/logo.png') }}" width="30" height="30" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('user_edit') }}"><i class="mdi mdi-account"></i> {{ 'edit_profile'|trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('logout') }}"><i class="mdi mdi-close-circle-outline"></i> {{ 'logout'|trans }}</a>
            </li>
        </ul>
    </div>
</nav>