<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item {% if current_page == 1 %}disabled{% endif %}">
            <a class="page-link" href="{{ path( app.request.attributes.get('_route'), {'page': max(current_page-1, 1)}) }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link  {% if current_page == pages %}disabled{% endif %}" href="{{ path( app.request.attributes.get('_route'), {'page': min(current_page+1, pages)}) }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>
</nav>