<form class="input-group mb-3">
    {#
    <input type="text" class="form-control" placeholder="{{ 'search.placeholder'|trans }}" aria-label="Search">
    <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button">{{ 'search.button'|trans }}</button>
    </div>
    #}

    <select class="omni-search"></select>
</form>