
<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link" href="{{ path('customer_list') }}">
            <i class="mdi mdi-account-multiple-outline"></i>
            Customers
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('invoice_list') }}">
            <i class="mdi mdi-file-percent"></i>
            Invoices
        </a>
    </li>
</ul>