{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/css/backend.css') }}">
{% endblock %}

{% block body %}
    {% include '_navbar.html.twig' %}

    <div class="container-fluid">
        <nav class="col-md-2 d-none d-md-block bg-dark sidebar">
            <div class="sidebar-sticky">
                {% include '_sidebar.html.twig' %}
            </div>
        </nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}

            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                <h1 class="h2">{% block title %}Dashboard{% endblock %}</h1>
            </div>

            {% block search %}
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
                {% include '_search.html.twig' %}
                </div>
            {% endblock %}

            {% block content %}{% endblock %}
        </main>

    </div>
{% endblock %}